.sidebar {
    margin-left: 50px;
    width: 600px;
}
.instructions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.instructions-box {
    margin: 100px 40px;
    font-size: 20px;
}

.instructions-box h3 {
    font-size: 30px;
}
.ships-container {
    margin: -40px 40px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}

.ships-container h3 {
    font-size: 30px;
}

.sidebar-ship {
    display: flex;
    margin: 10px;
    border: 1px solid black;
}
.start-button {
    width: 120px;
    height: 60px;
    font-size: 24px;
    font-family: 'Saira Condensed', sans-serif;
    background-color: lightgreen;
    margin: 10px;
}
.start-button:hover {
    cursor: pointer;
}

.sidebar-ship:hover{
    cursor: grab;
}

.sidebar-ship:active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
